*.o
.vscode/

cmcd/cmcd
testclient/testclient
testconnector/testconnector
testclient/nonce
testclient/attestation-report.json
testclient/attestation-result.json
dummycmc/dummycmc
tpm/test_encrypted_ak.json
example-setup/data-cmc/
tpmdriver/test_encrypted_ak.json
