*.o
*.bkp
*.swp
.vscode/

/data/
/artifacts/
/vm/
cmcd/cmcd
cmcctl/cmcctl
cmcctl/token
cmcctl/ca.pem
provision/estserver/estserver
**/nonce
**/attestation-report
**/attestation-result.json
tools/metasign/metasign
tools/metaconv/metaconv
tools/fmspc-retrieval-tool/fmspc-retrieval-tool
tools/measurefs/measurefs
tools/containerd-shim-cmc-v1/containerd-shim-cmc-v1
tools/measure-bundle/measure-bundle
tools/schema-generator/schema-generator
tools/parsetdxmrs/parsetdxmrs
tools/tdxtool/tdxtool
tools/snptool/snptool
tools/azuretool/azuretool
tools/hextobin/hextobin
tpm/test_encrypted_ak.json
example-setup/data-cmc/
example-setup/**/*.cbor
example-setup/metadata-signed/*
tpmdriver/test_encrypted_ak.json
est/server/server
attestationreport/cache/*
/tmp/*
