[Unit]
Description=CMC cmcctl aTLS listener
Wants=cmcd.service
After=cmcd.service

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=cmcctl listen -config /etc/cmcctl-conf-vm.json

[Install]
WantedBy=multi-user.target
