name: build

on:
  push:
    branches:
      - main
    tags:
        - "v*.*.*"
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.0
      - name: Build
        run: |
          pushd cmcd
          go build -ldflags="-s -w" -trimpath
          popd
          pushd cmcctl
          go build -ldflags="-s -w" -trimpath
          popd
          pushd provision/estserver
          go build -ldflags="-s -w" -trimpath
          popd
          pushd tools/cmcbackend
          go build -ldflags="-s -w" -trimpath
          popd
          pushd tools/snptool
          go build -ldflags="-s -w" -trimpath
          popd
          pushd tools/tdxtool
          go build -ldflags="-s -w" -trimpath
          popd
          pushd tools/azuretool
          go build -ldflags="-s -w" -trimpath
          popd
          pushd tools/metasign
          go build -ldflags="-s -w" -trimpath
          popd
          pushd tools/metaconv
          go build -ldflags="-s -w" -trimpath
          popd
      - name: Vet Check
        run: go vet ./...
      - name: Format Check
        run: go fmt ./...
      - name: Static Check
        uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
          install-go: false
      - name: Misspell Check
        run: |
          go install github.com/client9/misspell/cmd/misspell@latest
          misspell .
      - name: Test
        run: go test ./...
      - name: "Upload cmcd"
        uses: actions/upload-artifact@v4
        with:
          name: cmcd
          path: cmcd/cmcd
      - name: "Upload cmcctl"
        uses: actions/upload-artifact@v4
        with:
          name: cmcctl
          path: cmcctl/cmcctl
      - name: "Upload estserver"
        uses: actions/upload-artifact@v4
        with:
          name: estserver
          path: provision/estserver/estserver
      - name: "Upload metaconv"
        uses: actions/upload-artifact@v4
        with:
          name: metaconv
          path: tools/metaconv/metaconv
      - name: "Upload metasign"
        uses: actions/upload-artifact@v4
        with:
          name: metasign
          path: tools/metasign/metasign
      - name: "Upload backend"
        uses: actions/upload-artifact@v4
        with:
          name: cmcbackend
          path: tools/cmcbackend/cmcbackend
      - name: "Upload tdxtool"
        uses: actions/upload-artifact@v4
        with:
          name: tdxtool
          path: tools/tdxtool/tdxtool
      - name: "Upload snptool"
        uses: actions/upload-artifact@v4
        with:
          name: snptool
          path: tools/snptool/snptool
      - name: "Upload azuretool"
        uses: actions/upload-artifact@v4
        with:
          name: azuretool
          path: tools/azuretool/azuretool
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            cmcd/cmcd
            cmcctl/cmcctl
            provision/estserver/estserver
            tools/metaconv/metaconv
            tools/metasign/metasign
            tools/cmcbackend/cmcbackend
            tools/tdxtool/tdxtool
            tools/snptool/snptool
            tools/azuretool/azuretool


